body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav {
    background: #2c3e50;
    color: #fff;
    padding-top: 15px;
    min-height: 50px;
    border-bottom: #e8491d 3px solid;
}

.nav-links {
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.nav-links a.active {
    color: #e8491d;
}

.nav-links a:hover {
    color: #cccccc;
}

header {
    background: #2723FB;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #2723FB;
}

main {
    padding: 20px 0;
    min-height: 400px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #2723FB;
    text-align: center;

}

